<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>With Me</title>
</head>

<body>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eveniet qui recusandae accusamus ipsum illo, ea
    provident odit laborum, vel, placeat architecto assumenda soluta magni blanditiis repellendus similique cumque
    animi?</h1>
  <p>
    <%=data%>
  </p>
</body>

</html>